@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Oswald:wght@300;400;700&display=swap");
.fa-xs {
  font-size: 0.55rem !important;
}

.item-list li > p {
  font-size: 18px;
}
.item-list-check {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

/* Icon 1 */
.animated-icon1, .animated-icon2, .animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.animated-icon1 span {
  background: #e65100;
}

.animated-icon2 span {
  background: #e3f2fd;
}

.animated-icon3 span {
  background: white;
}

.animated-icon1 span:nth-child(1) {
  top: 0px;
}

.animated-icon1 span:nth-child(2) {
  top: 10px;
}

.animated-icon1 span:nth-child(3) {
  top: 20px;
}

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* Icon 3*/
.animated-icon2 span:nth-child(1) {
  top: 0px;
}

.animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
  top: 10px;
}

.animated-icon2 span:nth-child(4) {
  top: 20px;
}

.animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

/* Icon 4 */
.animated-icon3 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

.animated-icon3.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}

.oswald, .oswald-700, .oswald-600, .oswald-300 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}
.oswald-300 {
  font-weight: 300;
}
.oswald-600 {
  font-weight: 600;
}
.oswald-700 {
  font-weight: 700;
}

.open-sans, .open-sans-700, .open-sans-300 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.open-sans-300 {
  font-weight: 300;
}
.open-sans-700 {
  font-weight: 700;
}

#nosotros {
  background-image: url("../img/assets/home.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
}
#nosotros:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
}
#nosotros-grid {
  position: relative;
  z-index: 5;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80% 20%;
  grid-template-areas: "text" "button";
  align-items: center;
  justify-items: center;
}

.item-text {
  grid-area: text;
}
.item-button {
  grid-area: button;
  align-self: start;
}

#contacto {
  background-image: url("../img/assets/constructora.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
}
#contacto:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
}
#contacto-grid {
  position: relative;
  z-index: 5;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100%;
  align-items: center;
  justify-items: center;
}

#porticopec .modal-content {
  background-image: url("../img/assets/card-modals/modal-porticopec.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  position: relative;
  z-index: 1;
  border-radius: 0.7rem;
}
#porticopec .modal-content:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  z-index: 2;
  border-radius: 0.7rem;
  background: linear-gradient(144deg, white 0%, rgba(227, 225, 225, 0.9) 51%, rgba(188, 244, 255, 0.7) 100%);
}
#porticopec .modal-body {
  border-radius: 0.7rem;
}

#modulos-sanitizantes {
  position: relative;
}
#modulos-sanitizantes .absolute-portico {
  top: 10%;
  left: 10%;
  z-index: -1;
  max-width: 200px;
  opacity: 0.2;
}

#home {
  height: 90vh;
}

.home-first {
  margin-top: 15vh;
  margin-bottom: 10vh;
}
.home-first h1 {
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
}
.home-first h2 {
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.d-grid {
  display: grid;
}

.rounded-xl {
  border-radius: 0.7rem;
}

.text-shadow {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.card-back-img-0 {
  background-image: url("../img/assets/producto-card-0.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 1;
}
.card-back-img-0:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  z-index: 2;
  border-radius: 0.7rem;
  background-color: rgba(0, 0, 0, 0.7);
}
.card-back-img-1 {
  background-image: url("../img/assets/producto-card-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 1;
}
.card-back-img-1:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  z-index: 2;
  border-radius: 0.7rem;
  background-color: rgba(0, 0, 0, 0.7);
}
.card-back-img-2 {
  background-image: url("../img/assets/producto-card-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 1;
}
.card-back-img-2:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  z-index: 2;
  border-radius: 0.7rem;
  background-color: rgba(0, 0, 0, 0.7);
}
.card-inner {
  background-color: white;
  border-radius: 1rem 1rem 0.7rem 0.7rem;
  padding: 1rem;
  margin-top: 10rem;
}

.special-back {
  background-image: url("../img/assets/img-inicio.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 100%);
  background: transparent;
}
body header {
  grid-column: 1/2;
  grid-row: 1/2;
}
body main {
  grid-column: 1/2;
  grid-row: 2/3;
}
body footer {
  grid-column: 1/2;
  grid-row: 3/4;
}
body:after {
  content: "";
  width: 100%;
  height: 700px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background-image: url("../img/assets/img-inicio.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.spacing-0 {
  letter-spacing: 0px;
}

.font-0 {
  font-size: 0rem;
}

.z-index-0 {
  z-index: 0;
}

.top-0 {
  top: 0px;
}

.right-0 {
  right: 0px;
}

.left-0 {
  left: 0px;
}

.bottom-0 {
  bottom: 0px;
}

.spacing-1 {
  letter-spacing: 1px;
}

.font-1 {
  font-size: 1rem;
}

.z-index-1 {
  z-index: 1;
}

.top-1 {
  top: 1px;
}

.right-1 {
  right: 1px;
}

.left-1 {
  left: 1px;
}

.bottom-1 {
  bottom: 1px;
}

.spacing-2 {
  letter-spacing: 2px;
}

.font-2 {
  font-size: 2rem;
}

.z-index-2 {
  z-index: 2;
}

.top-2 {
  top: 2px;
}

.right-2 {
  right: 2px;
}

.left-2 {
  left: 2px;
}

.bottom-2 {
  bottom: 2px;
}

.spacing-3 {
  letter-spacing: 3px;
}

.font-3 {
  font-size: 3rem;
}

.z-index-3 {
  z-index: 3;
}

.top-3 {
  top: 3px;
}

.right-3 {
  right: 3px;
}

.left-3 {
  left: 3px;
}

.bottom-3 {
  bottom: 3px;
}

.spacing-4 {
  letter-spacing: 4px;
}

.font-4 {
  font-size: 4rem;
}

.z-index-4 {
  z-index: 4;
}

.top-4 {
  top: 4px;
}

.right-4 {
  right: 4px;
}

.left-4 {
  left: 4px;
}

.bottom-4 {
  bottom: 4px;
}

.spacing-5 {
  letter-spacing: 5px;
}

.font-5 {
  font-size: 5rem;
}

.z-index-5 {
  z-index: 5;
}

.top-5 {
  top: 5px;
}

.right-5 {
  right: 5px;
}

.left-5 {
  left: 5px;
}

.bottom-5 {
  bottom: 5px;
}

.spacing-6 {
  letter-spacing: 6px;
}

.font-6 {
  font-size: 6rem;
}

.z-index-6 {
  z-index: 6;
}

.top-6 {
  top: 6px;
}

.right-6 {
  right: 6px;
}

.left-6 {
  left: 6px;
}

.bottom-6 {
  bottom: 6px;
}

.spacing-7 {
  letter-spacing: 7px;
}

.font-7 {
  font-size: 7rem;
}

.z-index-7 {
  z-index: 7;
}

.top-7 {
  top: 7px;
}

.right-7 {
  right: 7px;
}

.left-7 {
  left: 7px;
}

.bottom-7 {
  bottom: 7px;
}

.spacing-8 {
  letter-spacing: 8px;
}

.font-8 {
  font-size: 8rem;
}

.z-index-8 {
  z-index: 8;
}

.top-8 {
  top: 8px;
}

.right-8 {
  right: 8px;
}

.left-8 {
  left: 8px;
}

.bottom-8 {
  bottom: 8px;
}

.spacing-9 {
  letter-spacing: 9px;
}

.font-9 {
  font-size: 9rem;
}

.z-index-9 {
  z-index: 9;
}

.top-9 {
  top: 9px;
}

.right-9 {
  right: 9px;
}

.left-9 {
  left: 9px;
}

.bottom-9 {
  bottom: 9px;
}

.spacing-10 {
  letter-spacing: 10px;
}

.font-10 {
  font-size: 10rem;
}

.z-index-10 {
  z-index: 10;
}

.top-10 {
  top: 10px;
}

.right-10 {
  right: 10px;
}

.left-10 {
  left: 10px;
}

.bottom-10 {
  bottom: 10px;
}

.spacing-11 {
  letter-spacing: 11px;
}

.font-11 {
  font-size: 11rem;
}

.z-index-11 {
  z-index: 11;
}

.top-11 {
  top: 11px;
}

.right-11 {
  right: 11px;
}

.left-11 {
  left: 11px;
}

.bottom-11 {
  bottom: 11px;
}

.spacing-12 {
  letter-spacing: 12px;
}

.font-12 {
  font-size: 12rem;
}

.z-index-12 {
  z-index: 12;
}

.top-12 {
  top: 12px;
}

.right-12 {
  right: 12px;
}

.left-12 {
  left: 12px;
}

.bottom-12 {
  bottom: 12px;
}

.spacing-13 {
  letter-spacing: 13px;
}

.font-13 {
  font-size: 13rem;
}

.z-index-13 {
  z-index: 13;
}

.top-13 {
  top: 13px;
}

.right-13 {
  right: 13px;
}

.left-13 {
  left: 13px;
}

.bottom-13 {
  bottom: 13px;
}

.spacing-14 {
  letter-spacing: 14px;
}

.font-14 {
  font-size: 14rem;
}

.z-index-14 {
  z-index: 14;
}

.top-14 {
  top: 14px;
}

.right-14 {
  right: 14px;
}

.left-14 {
  left: 14px;
}

.bottom-14 {
  bottom: 14px;
}

.spacing-15 {
  letter-spacing: 15px;
}

.font-15 {
  font-size: 15rem;
}

.z-index-15 {
  z-index: 15;
}

.top-15 {
  top: 15px;
}

.right-15 {
  right: 15px;
}

.left-15 {
  left: 15px;
}

.bottom-15 {
  bottom: 15px;
}

.spacing-16 {
  letter-spacing: 16px;
}

.font-16 {
  font-size: 16rem;
}

.z-index-16 {
  z-index: 16;
}

.top-16 {
  top: 16px;
}

.right-16 {
  right: 16px;
}

.left-16 {
  left: 16px;
}

.bottom-16 {
  bottom: 16px;
}

.spacing-17 {
  letter-spacing: 17px;
}

.font-17 {
  font-size: 17rem;
}

.z-index-17 {
  z-index: 17;
}

.top-17 {
  top: 17px;
}

.right-17 {
  right: 17px;
}

.left-17 {
  left: 17px;
}

.bottom-17 {
  bottom: 17px;
}

.spacing-18 {
  letter-spacing: 18px;
}

.font-18 {
  font-size: 18rem;
}

.z-index-18 {
  z-index: 18;
}

.top-18 {
  top: 18px;
}

.right-18 {
  right: 18px;
}

.left-18 {
  left: 18px;
}

.bottom-18 {
  bottom: 18px;
}

.spacing-19 {
  letter-spacing: 19px;
}

.font-19 {
  font-size: 19rem;
}

.z-index-19 {
  z-index: 19;
}

.top-19 {
  top: 19px;
}

.right-19 {
  right: 19px;
}

.left-19 {
  left: 19px;
}

.bottom-19 {
  bottom: 19px;
}

.spacing-20 {
  letter-spacing: 20px;
}

.font-20 {
  font-size: 20rem;
}

.z-index-20 {
  z-index: 20;
}

.top-20 {
  top: 20px;
}

.right-20 {
  right: 20px;
}

.left-20 {
  left: 20px;
}

.bottom-20 {
  bottom: 20px;
}

.spacing-21 {
  letter-spacing: 21px;
}

.font-21 {
  font-size: 21rem;
}

.z-index-21 {
  z-index: 21;
}

.top-21 {
  top: 21px;
}

.right-21 {
  right: 21px;
}

.left-21 {
  left: 21px;
}

.bottom-21 {
  bottom: 21px;
}

.spacing-22 {
  letter-spacing: 22px;
}

.font-22 {
  font-size: 22rem;
}

.z-index-22 {
  z-index: 22;
}

.top-22 {
  top: 22px;
}

.right-22 {
  right: 22px;
}

.left-22 {
  left: 22px;
}

.bottom-22 {
  bottom: 22px;
}

.spacing-23 {
  letter-spacing: 23px;
}

.font-23 {
  font-size: 23rem;
}

.z-index-23 {
  z-index: 23;
}

.top-23 {
  top: 23px;
}

.right-23 {
  right: 23px;
}

.left-23 {
  left: 23px;
}

.bottom-23 {
  bottom: 23px;
}

.spacing-24 {
  letter-spacing: 24px;
}

.font-24 {
  font-size: 24rem;
}

.z-index-24 {
  z-index: 24;
}

.top-24 {
  top: 24px;
}

.right-24 {
  right: 24px;
}

.left-24 {
  left: 24px;
}

.bottom-24 {
  bottom: 24px;
}

.spacing-25 {
  letter-spacing: 25px;
}

.font-25 {
  font-size: 25rem;
}

.z-index-25 {
  z-index: 25;
}

.top-25 {
  top: 25px;
}

.right-25 {
  right: 25px;
}

.left-25 {
  left: 25px;
}

.bottom-25 {
  bottom: 25px;
}

.spacing-26 {
  letter-spacing: 26px;
}

.font-26 {
  font-size: 26rem;
}

.z-index-26 {
  z-index: 26;
}

.top-26 {
  top: 26px;
}

.right-26 {
  right: 26px;
}

.left-26 {
  left: 26px;
}

.bottom-26 {
  bottom: 26px;
}

.spacing-27 {
  letter-spacing: 27px;
}

.font-27 {
  font-size: 27rem;
}

.z-index-27 {
  z-index: 27;
}

.top-27 {
  top: 27px;
}

.right-27 {
  right: 27px;
}

.left-27 {
  left: 27px;
}

.bottom-27 {
  bottom: 27px;
}

.spacing-28 {
  letter-spacing: 28px;
}

.font-28 {
  font-size: 28rem;
}

.z-index-28 {
  z-index: 28;
}

.top-28 {
  top: 28px;
}

.right-28 {
  right: 28px;
}

.left-28 {
  left: 28px;
}

.bottom-28 {
  bottom: 28px;
}

.spacing-29 {
  letter-spacing: 29px;
}

.font-29 {
  font-size: 29rem;
}

.z-index-29 {
  z-index: 29;
}

.top-29 {
  top: 29px;
}

.right-29 {
  right: 29px;
}

.left-29 {
  left: 29px;
}

.bottom-29 {
  bottom: 29px;
}

.spacing-30 {
  letter-spacing: 30px;
}

.font-30 {
  font-size: 30rem;
}

.z-index-30 {
  z-index: 30;
}

.top-30 {
  top: 30px;
}

.right-30 {
  right: 30px;
}

.left-30 {
  left: 30px;
}

.bottom-30 {
  bottom: 30px;
}

.spacing-31 {
  letter-spacing: 31px;
}

.font-31 {
  font-size: 31rem;
}

.z-index-31 {
  z-index: 31;
}

.top-31 {
  top: 31px;
}

.right-31 {
  right: 31px;
}

.left-31 {
  left: 31px;
}

.bottom-31 {
  bottom: 31px;
}

.spacing-32 {
  letter-spacing: 32px;
}

.font-32 {
  font-size: 32rem;
}

.z-index-32 {
  z-index: 32;
}

.top-32 {
  top: 32px;
}

.right-32 {
  right: 32px;
}

.left-32 {
  left: 32px;
}

.bottom-32 {
  bottom: 32px;
}

.spacing-33 {
  letter-spacing: 33px;
}

.font-33 {
  font-size: 33rem;
}

.z-index-33 {
  z-index: 33;
}

.top-33 {
  top: 33px;
}

.right-33 {
  right: 33px;
}

.left-33 {
  left: 33px;
}

.bottom-33 {
  bottom: 33px;
}

.spacing-34 {
  letter-spacing: 34px;
}

.font-34 {
  font-size: 34rem;
}

.z-index-34 {
  z-index: 34;
}

.top-34 {
  top: 34px;
}

.right-34 {
  right: 34px;
}

.left-34 {
  left: 34px;
}

.bottom-34 {
  bottom: 34px;
}

.spacing-35 {
  letter-spacing: 35px;
}

.font-35 {
  font-size: 35rem;
}

.z-index-35 {
  z-index: 35;
}

.top-35 {
  top: 35px;
}

.right-35 {
  right: 35px;
}

.left-35 {
  left: 35px;
}

.bottom-35 {
  bottom: 35px;
}

.spacing-36 {
  letter-spacing: 36px;
}

.font-36 {
  font-size: 36rem;
}

.z-index-36 {
  z-index: 36;
}

.top-36 {
  top: 36px;
}

.right-36 {
  right: 36px;
}

.left-36 {
  left: 36px;
}

.bottom-36 {
  bottom: 36px;
}

.spacing-37 {
  letter-spacing: 37px;
}

.font-37 {
  font-size: 37rem;
}

.z-index-37 {
  z-index: 37;
}

.top-37 {
  top: 37px;
}

.right-37 {
  right: 37px;
}

.left-37 {
  left: 37px;
}

.bottom-37 {
  bottom: 37px;
}

.spacing-38 {
  letter-spacing: 38px;
}

.font-38 {
  font-size: 38rem;
}

.z-index-38 {
  z-index: 38;
}

.top-38 {
  top: 38px;
}

.right-38 {
  right: 38px;
}

.left-38 {
  left: 38px;
}

.bottom-38 {
  bottom: 38px;
}

.spacing-39 {
  letter-spacing: 39px;
}

.font-39 {
  font-size: 39rem;
}

.z-index-39 {
  z-index: 39;
}

.top-39 {
  top: 39px;
}

.right-39 {
  right: 39px;
}

.left-39 {
  left: 39px;
}

.bottom-39 {
  bottom: 39px;
}

.spacing-40 {
  letter-spacing: 40px;
}

.font-40 {
  font-size: 40rem;
}

.z-index-40 {
  z-index: 40;
}

.top-40 {
  top: 40px;
}

.right-40 {
  right: 40px;
}

.left-40 {
  left: 40px;
}

.bottom-40 {
  bottom: 40px;
}

.spacing-41 {
  letter-spacing: 41px;
}

.font-41 {
  font-size: 41rem;
}

.z-index-41 {
  z-index: 41;
}

.top-41 {
  top: 41px;
}

.right-41 {
  right: 41px;
}

.left-41 {
  left: 41px;
}

.bottom-41 {
  bottom: 41px;
}

.spacing-42 {
  letter-spacing: 42px;
}

.font-42 {
  font-size: 42rem;
}

.z-index-42 {
  z-index: 42;
}

.top-42 {
  top: 42px;
}

.right-42 {
  right: 42px;
}

.left-42 {
  left: 42px;
}

.bottom-42 {
  bottom: 42px;
}

.spacing-43 {
  letter-spacing: 43px;
}

.font-43 {
  font-size: 43rem;
}

.z-index-43 {
  z-index: 43;
}

.top-43 {
  top: 43px;
}

.right-43 {
  right: 43px;
}

.left-43 {
  left: 43px;
}

.bottom-43 {
  bottom: 43px;
}

.spacing-44 {
  letter-spacing: 44px;
}

.font-44 {
  font-size: 44rem;
}

.z-index-44 {
  z-index: 44;
}

.top-44 {
  top: 44px;
}

.right-44 {
  right: 44px;
}

.left-44 {
  left: 44px;
}

.bottom-44 {
  bottom: 44px;
}

.spacing-45 {
  letter-spacing: 45px;
}

.font-45 {
  font-size: 45rem;
}

.z-index-45 {
  z-index: 45;
}

.top-45 {
  top: 45px;
}

.right-45 {
  right: 45px;
}

.left-45 {
  left: 45px;
}

.bottom-45 {
  bottom: 45px;
}

.spacing-46 {
  letter-spacing: 46px;
}

.font-46 {
  font-size: 46rem;
}

.z-index-46 {
  z-index: 46;
}

.top-46 {
  top: 46px;
}

.right-46 {
  right: 46px;
}

.left-46 {
  left: 46px;
}

.bottom-46 {
  bottom: 46px;
}

.spacing-47 {
  letter-spacing: 47px;
}

.font-47 {
  font-size: 47rem;
}

.z-index-47 {
  z-index: 47;
}

.top-47 {
  top: 47px;
}

.right-47 {
  right: 47px;
}

.left-47 {
  left: 47px;
}

.bottom-47 {
  bottom: 47px;
}

.spacing-48 {
  letter-spacing: 48px;
}

.font-48 {
  font-size: 48rem;
}

.z-index-48 {
  z-index: 48;
}

.top-48 {
  top: 48px;
}

.right-48 {
  right: 48px;
}

.left-48 {
  left: 48px;
}

.bottom-48 {
  bottom: 48px;
}

.spacing-49 {
  letter-spacing: 49px;
}

.font-49 {
  font-size: 49rem;
}

.z-index-49 {
  z-index: 49;
}

.top-49 {
  top: 49px;
}

.right-49 {
  right: 49px;
}

.left-49 {
  left: 49px;
}

.bottom-49 {
  bottom: 49px;
}

.spacing-50 {
  letter-spacing: 50px;
}

.font-50 {
  font-size: 50rem;
}

.z-index-50 {
  z-index: 50;
}

.top-50 {
  top: 50px;
}

.right-50 {
  right: 50px;
}

.left-50 {
  left: 50px;
}

.bottom-50 {
  bottom: 50px;
}

.spacing-51 {
  letter-spacing: 51px;
}

.font-51 {
  font-size: 51rem;
}

.z-index-51 {
  z-index: 51;
}

.top-51 {
  top: 51px;
}

.right-51 {
  right: 51px;
}

.left-51 {
  left: 51px;
}

.bottom-51 {
  bottom: 51px;
}

.spacing-52 {
  letter-spacing: 52px;
}

.font-52 {
  font-size: 52rem;
}

.z-index-52 {
  z-index: 52;
}

.top-52 {
  top: 52px;
}

.right-52 {
  right: 52px;
}

.left-52 {
  left: 52px;
}

.bottom-52 {
  bottom: 52px;
}

.spacing-53 {
  letter-spacing: 53px;
}

.font-53 {
  font-size: 53rem;
}

.z-index-53 {
  z-index: 53;
}

.top-53 {
  top: 53px;
}

.right-53 {
  right: 53px;
}

.left-53 {
  left: 53px;
}

.bottom-53 {
  bottom: 53px;
}

.spacing-54 {
  letter-spacing: 54px;
}

.font-54 {
  font-size: 54rem;
}

.z-index-54 {
  z-index: 54;
}

.top-54 {
  top: 54px;
}

.right-54 {
  right: 54px;
}

.left-54 {
  left: 54px;
}

.bottom-54 {
  bottom: 54px;
}

.spacing-55 {
  letter-spacing: 55px;
}

.font-55 {
  font-size: 55rem;
}

.z-index-55 {
  z-index: 55;
}

.top-55 {
  top: 55px;
}

.right-55 {
  right: 55px;
}

.left-55 {
  left: 55px;
}

.bottom-55 {
  bottom: 55px;
}

.spacing-56 {
  letter-spacing: 56px;
}

.font-56 {
  font-size: 56rem;
}

.z-index-56 {
  z-index: 56;
}

.top-56 {
  top: 56px;
}

.right-56 {
  right: 56px;
}

.left-56 {
  left: 56px;
}

.bottom-56 {
  bottom: 56px;
}

.spacing-57 {
  letter-spacing: 57px;
}

.font-57 {
  font-size: 57rem;
}

.z-index-57 {
  z-index: 57;
}

.top-57 {
  top: 57px;
}

.right-57 {
  right: 57px;
}

.left-57 {
  left: 57px;
}

.bottom-57 {
  bottom: 57px;
}

.spacing-58 {
  letter-spacing: 58px;
}

.font-58 {
  font-size: 58rem;
}

.z-index-58 {
  z-index: 58;
}

.top-58 {
  top: 58px;
}

.right-58 {
  right: 58px;
}

.left-58 {
  left: 58px;
}

.bottom-58 {
  bottom: 58px;
}

.spacing-59 {
  letter-spacing: 59px;
}

.font-59 {
  font-size: 59rem;
}

.z-index-59 {
  z-index: 59;
}

.top-59 {
  top: 59px;
}

.right-59 {
  right: 59px;
}

.left-59 {
  left: 59px;
}

.bottom-59 {
  bottom: 59px;
}

.spacing-60 {
  letter-spacing: 60px;
}

.font-60 {
  font-size: 60rem;
}

.z-index-60 {
  z-index: 60;
}

.top-60 {
  top: 60px;
}

.right-60 {
  right: 60px;
}

.left-60 {
  left: 60px;
}

.bottom-60 {
  bottom: 60px;
}

.spacing-61 {
  letter-spacing: 61px;
}

.font-61 {
  font-size: 61rem;
}

.z-index-61 {
  z-index: 61;
}

.top-61 {
  top: 61px;
}

.right-61 {
  right: 61px;
}

.left-61 {
  left: 61px;
}

.bottom-61 {
  bottom: 61px;
}

.spacing-62 {
  letter-spacing: 62px;
}

.font-62 {
  font-size: 62rem;
}

.z-index-62 {
  z-index: 62;
}

.top-62 {
  top: 62px;
}

.right-62 {
  right: 62px;
}

.left-62 {
  left: 62px;
}

.bottom-62 {
  bottom: 62px;
}

.spacing-63 {
  letter-spacing: 63px;
}

.font-63 {
  font-size: 63rem;
}

.z-index-63 {
  z-index: 63;
}

.top-63 {
  top: 63px;
}

.right-63 {
  right: 63px;
}

.left-63 {
  left: 63px;
}

.bottom-63 {
  bottom: 63px;
}

.spacing-64 {
  letter-spacing: 64px;
}

.font-64 {
  font-size: 64rem;
}

.z-index-64 {
  z-index: 64;
}

.top-64 {
  top: 64px;
}

.right-64 {
  right: 64px;
}

.left-64 {
  left: 64px;
}

.bottom-64 {
  bottom: 64px;
}

.spacing-65 {
  letter-spacing: 65px;
}

.font-65 {
  font-size: 65rem;
}

.z-index-65 {
  z-index: 65;
}

.top-65 {
  top: 65px;
}

.right-65 {
  right: 65px;
}

.left-65 {
  left: 65px;
}

.bottom-65 {
  bottom: 65px;
}

.spacing-66 {
  letter-spacing: 66px;
}

.font-66 {
  font-size: 66rem;
}

.z-index-66 {
  z-index: 66;
}

.top-66 {
  top: 66px;
}

.right-66 {
  right: 66px;
}

.left-66 {
  left: 66px;
}

.bottom-66 {
  bottom: 66px;
}

.spacing-67 {
  letter-spacing: 67px;
}

.font-67 {
  font-size: 67rem;
}

.z-index-67 {
  z-index: 67;
}

.top-67 {
  top: 67px;
}

.right-67 {
  right: 67px;
}

.left-67 {
  left: 67px;
}

.bottom-67 {
  bottom: 67px;
}

.spacing-68 {
  letter-spacing: 68px;
}

.font-68 {
  font-size: 68rem;
}

.z-index-68 {
  z-index: 68;
}

.top-68 {
  top: 68px;
}

.right-68 {
  right: 68px;
}

.left-68 {
  left: 68px;
}

.bottom-68 {
  bottom: 68px;
}

.spacing-69 {
  letter-spacing: 69px;
}

.font-69 {
  font-size: 69rem;
}

.z-index-69 {
  z-index: 69;
}

.top-69 {
  top: 69px;
}

.right-69 {
  right: 69px;
}

.left-69 {
  left: 69px;
}

.bottom-69 {
  bottom: 69px;
}

.spacing-70 {
  letter-spacing: 70px;
}

.font-70 {
  font-size: 70rem;
}

.z-index-70 {
  z-index: 70;
}

.top-70 {
  top: 70px;
}

.right-70 {
  right: 70px;
}

.left-70 {
  left: 70px;
}

.bottom-70 {
  bottom: 70px;
}

.spacing-71 {
  letter-spacing: 71px;
}

.font-71 {
  font-size: 71rem;
}

.z-index-71 {
  z-index: 71;
}

.top-71 {
  top: 71px;
}

.right-71 {
  right: 71px;
}

.left-71 {
  left: 71px;
}

.bottom-71 {
  bottom: 71px;
}

.spacing-72 {
  letter-spacing: 72px;
}

.font-72 {
  font-size: 72rem;
}

.z-index-72 {
  z-index: 72;
}

.top-72 {
  top: 72px;
}

.right-72 {
  right: 72px;
}

.left-72 {
  left: 72px;
}

.bottom-72 {
  bottom: 72px;
}

.spacing-73 {
  letter-spacing: 73px;
}

.font-73 {
  font-size: 73rem;
}

.z-index-73 {
  z-index: 73;
}

.top-73 {
  top: 73px;
}

.right-73 {
  right: 73px;
}

.left-73 {
  left: 73px;
}

.bottom-73 {
  bottom: 73px;
}

.spacing-74 {
  letter-spacing: 74px;
}

.font-74 {
  font-size: 74rem;
}

.z-index-74 {
  z-index: 74;
}

.top-74 {
  top: 74px;
}

.right-74 {
  right: 74px;
}

.left-74 {
  left: 74px;
}

.bottom-74 {
  bottom: 74px;
}

.spacing-75 {
  letter-spacing: 75px;
}

.font-75 {
  font-size: 75rem;
}

.z-index-75 {
  z-index: 75;
}

.top-75 {
  top: 75px;
}

.right-75 {
  right: 75px;
}

.left-75 {
  left: 75px;
}

.bottom-75 {
  bottom: 75px;
}

.spacing-76 {
  letter-spacing: 76px;
}

.font-76 {
  font-size: 76rem;
}

.z-index-76 {
  z-index: 76;
}

.top-76 {
  top: 76px;
}

.right-76 {
  right: 76px;
}

.left-76 {
  left: 76px;
}

.bottom-76 {
  bottom: 76px;
}

.spacing-77 {
  letter-spacing: 77px;
}

.font-77 {
  font-size: 77rem;
}

.z-index-77 {
  z-index: 77;
}

.top-77 {
  top: 77px;
}

.right-77 {
  right: 77px;
}

.left-77 {
  left: 77px;
}

.bottom-77 {
  bottom: 77px;
}

.spacing-78 {
  letter-spacing: 78px;
}

.font-78 {
  font-size: 78rem;
}

.z-index-78 {
  z-index: 78;
}

.top-78 {
  top: 78px;
}

.right-78 {
  right: 78px;
}

.left-78 {
  left: 78px;
}

.bottom-78 {
  bottom: 78px;
}

.spacing-79 {
  letter-spacing: 79px;
}

.font-79 {
  font-size: 79rem;
}

.z-index-79 {
  z-index: 79;
}

.top-79 {
  top: 79px;
}

.right-79 {
  right: 79px;
}

.left-79 {
  left: 79px;
}

.bottom-79 {
  bottom: 79px;
}

.spacing-80 {
  letter-spacing: 80px;
}

.font-80 {
  font-size: 80rem;
}

.z-index-80 {
  z-index: 80;
}

.top-80 {
  top: 80px;
}

.right-80 {
  right: 80px;
}

.left-80 {
  left: 80px;
}

.bottom-80 {
  bottom: 80px;
}

.spacing-81 {
  letter-spacing: 81px;
}

.font-81 {
  font-size: 81rem;
}

.z-index-81 {
  z-index: 81;
}

.top-81 {
  top: 81px;
}

.right-81 {
  right: 81px;
}

.left-81 {
  left: 81px;
}

.bottom-81 {
  bottom: 81px;
}

.spacing-82 {
  letter-spacing: 82px;
}

.font-82 {
  font-size: 82rem;
}

.z-index-82 {
  z-index: 82;
}

.top-82 {
  top: 82px;
}

.right-82 {
  right: 82px;
}

.left-82 {
  left: 82px;
}

.bottom-82 {
  bottom: 82px;
}

.spacing-83 {
  letter-spacing: 83px;
}

.font-83 {
  font-size: 83rem;
}

.z-index-83 {
  z-index: 83;
}

.top-83 {
  top: 83px;
}

.right-83 {
  right: 83px;
}

.left-83 {
  left: 83px;
}

.bottom-83 {
  bottom: 83px;
}

.spacing-84 {
  letter-spacing: 84px;
}

.font-84 {
  font-size: 84rem;
}

.z-index-84 {
  z-index: 84;
}

.top-84 {
  top: 84px;
}

.right-84 {
  right: 84px;
}

.left-84 {
  left: 84px;
}

.bottom-84 {
  bottom: 84px;
}

.spacing-85 {
  letter-spacing: 85px;
}

.font-85 {
  font-size: 85rem;
}

.z-index-85 {
  z-index: 85;
}

.top-85 {
  top: 85px;
}

.right-85 {
  right: 85px;
}

.left-85 {
  left: 85px;
}

.bottom-85 {
  bottom: 85px;
}

.spacing-86 {
  letter-spacing: 86px;
}

.font-86 {
  font-size: 86rem;
}

.z-index-86 {
  z-index: 86;
}

.top-86 {
  top: 86px;
}

.right-86 {
  right: 86px;
}

.left-86 {
  left: 86px;
}

.bottom-86 {
  bottom: 86px;
}

.spacing-87 {
  letter-spacing: 87px;
}

.font-87 {
  font-size: 87rem;
}

.z-index-87 {
  z-index: 87;
}

.top-87 {
  top: 87px;
}

.right-87 {
  right: 87px;
}

.left-87 {
  left: 87px;
}

.bottom-87 {
  bottom: 87px;
}

.spacing-88 {
  letter-spacing: 88px;
}

.font-88 {
  font-size: 88rem;
}

.z-index-88 {
  z-index: 88;
}

.top-88 {
  top: 88px;
}

.right-88 {
  right: 88px;
}

.left-88 {
  left: 88px;
}

.bottom-88 {
  bottom: 88px;
}

.spacing-89 {
  letter-spacing: 89px;
}

.font-89 {
  font-size: 89rem;
}

.z-index-89 {
  z-index: 89;
}

.top-89 {
  top: 89px;
}

.right-89 {
  right: 89px;
}

.left-89 {
  left: 89px;
}

.bottom-89 {
  bottom: 89px;
}

.spacing-90 {
  letter-spacing: 90px;
}

.font-90 {
  font-size: 90rem;
}

.z-index-90 {
  z-index: 90;
}

.top-90 {
  top: 90px;
}

.right-90 {
  right: 90px;
}

.left-90 {
  left: 90px;
}

.bottom-90 {
  bottom: 90px;
}

.spacing-91 {
  letter-spacing: 91px;
}

.font-91 {
  font-size: 91rem;
}

.z-index-91 {
  z-index: 91;
}

.top-91 {
  top: 91px;
}

.right-91 {
  right: 91px;
}

.left-91 {
  left: 91px;
}

.bottom-91 {
  bottom: 91px;
}

.spacing-92 {
  letter-spacing: 92px;
}

.font-92 {
  font-size: 92rem;
}

.z-index-92 {
  z-index: 92;
}

.top-92 {
  top: 92px;
}

.right-92 {
  right: 92px;
}

.left-92 {
  left: 92px;
}

.bottom-92 {
  bottom: 92px;
}

.spacing-93 {
  letter-spacing: 93px;
}

.font-93 {
  font-size: 93rem;
}

.z-index-93 {
  z-index: 93;
}

.top-93 {
  top: 93px;
}

.right-93 {
  right: 93px;
}

.left-93 {
  left: 93px;
}

.bottom-93 {
  bottom: 93px;
}

.spacing-94 {
  letter-spacing: 94px;
}

.font-94 {
  font-size: 94rem;
}

.z-index-94 {
  z-index: 94;
}

.top-94 {
  top: 94px;
}

.right-94 {
  right: 94px;
}

.left-94 {
  left: 94px;
}

.bottom-94 {
  bottom: 94px;
}

.spacing-95 {
  letter-spacing: 95px;
}

.font-95 {
  font-size: 95rem;
}

.z-index-95 {
  z-index: 95;
}

.top-95 {
  top: 95px;
}

.right-95 {
  right: 95px;
}

.left-95 {
  left: 95px;
}

.bottom-95 {
  bottom: 95px;
}

.spacing-96 {
  letter-spacing: 96px;
}

.font-96 {
  font-size: 96rem;
}

.z-index-96 {
  z-index: 96;
}

.top-96 {
  top: 96px;
}

.right-96 {
  right: 96px;
}

.left-96 {
  left: 96px;
}

.bottom-96 {
  bottom: 96px;
}

.spacing-97 {
  letter-spacing: 97px;
}

.font-97 {
  font-size: 97rem;
}

.z-index-97 {
  z-index: 97;
}

.top-97 {
  top: 97px;
}

.right-97 {
  right: 97px;
}

.left-97 {
  left: 97px;
}

.bottom-97 {
  bottom: 97px;
}

.spacing-98 {
  letter-spacing: 98px;
}

.font-98 {
  font-size: 98rem;
}

.z-index-98 {
  z-index: 98;
}

.top-98 {
  top: 98px;
}

.right-98 {
  right: 98px;
}

.left-98 {
  left: 98px;
}

.bottom-98 {
  bottom: 98px;
}

.spacing-99 {
  letter-spacing: 99px;
}

.font-99 {
  font-size: 99rem;
}

.z-index-99 {
  z-index: 99;
}

.top-99 {
  top: 99px;
}

.right-99 {
  right: 99px;
}

.left-99 {
  left: 99px;
}

.bottom-99 {
  bottom: 99px;
}

.spacing-100 {
  letter-spacing: 100px;
}

.font-100 {
  font-size: 100rem;
}

.z-index-100 {
  z-index: 100;
}

.top-100 {
  top: 100px;
}

.right-100 {
  right: 100px;
}

.left-100 {
  left: 100px;
}

.bottom-100 {
  bottom: 100px;
}

/*# sourceMappingURL=main.css.map */
