@mixin maskAfter($round: false, $color: #000000) {
    &:after{
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        z-index: 2;
        @if $round {
            border-radius: 0.7rem;
        }
        background-color: rgba($color: $color, $alpha: 0.7);
    }
}
@mixin maskAfterGradient($round: false) {
    &:after{
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        z-index: 2;
        border-radius: 0.7rem;
        background: linear-gradient(144deg, rgba(255,255,255,1) 0%, rgba(227,225,225,0.9) 51%, rgba(188,244,255,0.7) 100%);

    }
}

@mixin setImageWithMask($image){
    background: {
        image: url("../img/assets/#{$image}");
        position: center;
        size: cover;
        repeat: no-repeat;
    }
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
    @include maskAfter();
}

@mixin setImage($image){
    background: {
        image: url("../img/assets/#{$image}");
        position: center;
        size: cover;
        repeat: no-repeat;
    }
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
}

.fa-xs{
    font-size: 0.55rem !important;
}

.item-list{
    li > p{
        font-size: 18px;

    }
    &-check{
        width: 90vw;
        margin: {
            left: auto;
            right: auto;
        }
    }
}