#porticopec{
    .modal-content{
        background: {
            image: url("../img/assets/card-modals/modal-porticopec.jpeg");
            repeat: no-repeat;
            size: cover;
            position: bottom right;
        }
        position: relative;
        z-index: 1;
        border-radius: 0.7rem;
        @include maskAfterGradient();
    }

    .modal-body{
        border-radius: 0.7rem;
    }
}

#modulos-sanitizantes{
    position: relative;

    .absolute{
        &-portico{
            top: 10%;
            left: 10%;
            z-index: -1;
            max-width: 200px;
            opacity: 0.2;
        }
    }
}