#porticopec{
    .modal-content{
        background: {
            image: url("../img/assets/card-modals/modal-porticopec.jpeg");
            repeat: no-repeat;
            size: cover;
            position: bottom right;
        }
        position: relative;
        z-index: 1;
        border-radius: 0.7rem;
        @include maskAfterGradient();
    }

    .modal-body{
        border-radius: 0.7rem;
    }
}