#primer-lista {
  justify-content: center !important;
  ul {
    flex-wrap: wrap;
    display: flex;
    justify-content: center !important;
    li {
      margin: 0 30px;
      font-weight: bold;
    }
  }
}

.card-header {
  background-color: #fff;
}
.contenedor-card {
  display: flex;
}
.card {
  justify-content: center;
  margin: auto;
  max-width: 400px;
  max-height: 600px;
  img {
    max-width: 250px;
    max-height: 290px;
  }
  .contenedor-boton {
    display: flex;
    button {
      margin: auto;
    }
  }
}
