#nosotros{
    @include setImageWithMask("home.jpg");
    &-grid{
        position: relative;
        z-index: 5;
        display: grid;
        grid-template: {
            columns: 1fr;
            rows: 80% 20%;
            areas: "text" "button";
        }
        align-items: center;
        justify-items: center;
    }
}

.item{
    &-text{
        grid-area: text;
    }
    &-button{
        grid-area: button;
        align-self: start;
    }
}