#contacto{
    @include setImageWithMask("constructora.png");
    &-grid{
        position: relative;
        z-index: 5;
        display: grid;
        grid-template: {
            columns: 1fr;
            rows: 100%;
            
        }
        align-items: center;
        justify-items: center;
    }
}