#grid-contacto{
    display: grid;
    grid-template:{
        columns: repeat(2, 1fr);
        rows: 1fr
    };

    .grid-title{
        align-self: center;
        justify-self: center;
    }
    .grid-form{
        padding: 50px;
        align-self: center;
        justify-self: center;
    }
}