<nav class="navbar navbar-expand-lg navbar-dark black ">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            img(src="../img/svg/logo-pec.svg",height="60",alt="Constructora PEC")
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse open-sans text-uppercase spacing-3" id="basicExampleNav">
            <ul class="navbar-nav mr-auto">
                if titlePage == "#Inicio"
                    <li class="nav-item active">
                        <a class="nav-link" href="./index.html">Home</a>
                    </li>
                else
                    <li class="nav-item">
                        <a class="nav-link" href="./index.html">Home</a>
                    </li>
                    
                if titlePage == "Nosotros"
                    <li class="nav-item active">
                        <a class="nav-link" href="./nosotros.html">Nosotros</a>
                    </li>
                else
                    <li class="nav-item">
                        <a class="nav-link" href="./nosotros.html">Nosotros</a>
                    </li>

                if titlePage == "Obras"
                    <li class="nav-item active">
                        <a class="nav-link" href="./obras.html">Obras</a>
                    </li>
                else
                    <li class="nav-item">
                        <a class="nav-link" href="./obras.html">Obras</a>
                    </li>
                
                if titlePage == "Servicios"
                    <li class="nav-item active">
                        <a class="nav-link" href="./servicios.html">Servicios</a>
                    </li>
                else
                    <li class="nav-item">
                        <a class="nav-link" href="./servicios.html">Servicios</a>
                    </li>
                
                if titlePage == "Contacto"
                    <li class="nav-item active">
                        <a class="nav-link" href="./contacto.html">Contacto</a>
                    </li>
                else
                    <li class="nav-item">
                        <a class="nav-link" href="./contacto.html">Contacto</a>
                    </li>
            </ul>
            
        </div>
    </div>
</nav>

