.container
    .row
        .col-12
            .text-center.text-white.home-first
                h1.text-uppercase.open-sans-700 SOLUCIÓN EN MÓDULOS SANITIZANTES
                h2.open-sans-300 Totem - Pórticos - Cabina