extends ../templates/template.pug
block append config
    - titlePage = "Inicio"

block append content
    section#nosotros.d-flex.aling-items-center
        include nosotros.pug
    section#modulos-sanitizantes
        .container
            include modulos.pug
    section#contacto.d-flex.align-items-center
            include contacto.pug
