extends ../templates/template.pug
block append config
    - titlePage = "Inicio"

block append content
    section#nosotros.img-nosotros
        include nosotros.pug
    section#modulos-sanitizantes
        include modulos.pug
    section#contacto
        include contacto.pug