extends ../templates/template.pug
block append config
    - titlePage = "Inicio"

block append content
    section#nosotros.img-nosotros
        .container
            include nosotros.pug
    section#modulos-sanitizantes.container.my-3
        include modulos.pug
    section#contacto.container.my-3
        include contacto.pug