extends ../templates/template.pug
block append config
    - titlePage = "Inicio"

block append content
    section#nosotros.bg-dark
        include nosotros.pug
    section#modulos-sanitizantes.bg-ligth
        include modulos.pug