extends ../templates/template.pug
block append config
    - titlePage = "Inicio"

block append content
    section#home
        include home.pug
    section#modulos-sanitizantes
        .container.py-3
            include modulos.pug
    section#productos-buscador
        include productos.pug
    section#nuestros-clientes
        include nuestros-clientes.pug
    section#redes-sociales
        include redes-sociales.pug 
    section#contacto
        include contacto.pug