.container
            .row
                .col-12.text-left
                     h2 Modulos Sanitizantes
    
            .row
                .col-12
                    p excelente solución para incrementar las medidas de higiene en el ingreso a aquellos espacios de alta circulación tales como:   
            
            .row.mt-0
                .col-12
                    ul
                        li Comercios
                        li Industrias
                        li Edificios
                        li Hogares
                        li Colegios
            
            .row
                .col-12.caracteristicas
                    ul
                    li Fabricados íntegramente en Aluminio Compuesto de máxima calidad inalterable
                    li Elimina el 99.9% de virus y bacterias.
                    li Aptos para uso de desinfectantes aprobados y certificados por ANMAT.
                    li Nuestros modelos no requieren instalación de agua, son compactos y fácilmente trasladables.
            
            .row
                .col-12.descripcion-modulos
                    p Nuestros diseños se incorporan de manera fácil a cualquier lugar en donde haya ingreso de personas. Mediante el uso de micro aspersores, se impulsa una solución sanitizante inocua, incolora e inodora diluida en agua que cubre el 100% de la superficie corporal. Quedando en sólo 5 segundos cubierto con una barrera anti bacterial garantizada
                    
            .row
                .col-12
                        p Se puede utilizar cualquier antibacterial aprobado por ANMAT. Los siguientes mencionados son de venta libre:

                .col-6
                    ul
                        li Ácido Hipocloroso al 0.05%
                        li Hipoclorito de Sodio al 0.05% 
                .col-6
                    ul
                        li Amonio Cuaternario al 0.01%
                        li Cloruro de Benzalconio al 1%
.modulos
    .container
        .row.totem
            .col-12
                h3 Totem PEC 314 
                p Construido en aluminio compuesto de máxima calidad, inalterable en el tiempo.Este material cuenta con mejores propiedades que el acero inoxidable calidad 430. 
                div#contenedor-totem-img
                   
                        img(class="img-fluid" src="../img/Assets/totemUso.png" alt="Imagen de Totem Sanitizante")


         
