#grid-clientes
    .img-clientes

    .text-clientes
        p.h1.open-sans-700 NUESTROS CLIENTES
        p.my-5 “Muy buena experiencia. Muy recomendable. Serios. Buen precio.”
        .stars
            i.fas.fa-star.mx-2.fa-2x
            i.fas.fa-star.mx-2.fa-2x
            i.fas.fa-star.mx-2.fa-2x
            i.fas.fa-star.mx-2.fa-2x
            i.fas.fa-star.mx-2.fa-2x