- let titlePage = "CAMBIAR EL TITULO DE LA PAGINA"
- let desciption = 'Construido en aluminio compuesto de máxima calidad, inalterable en el tiempo. Este material cuenta con mejores propiedades que el acero inoxidable calidad 430.';

- 
    let listados = {
        primero:[
            {
            name: "Comercios",
            icon: `fas fa-circle`,
            },
            {
            name: "Industrias",
            icon: `fas fa-circle`
            },
            {
            name: "Edificios",
            icon: `fas fa-circle`
            },
            {
            name: "Hogares",
            icon: `fas fa-circle`
            },
            {
            name: "Colegios",
            icon: `fas fa-circle`
            }
            ],
        segundo:[
            {name: "Fabricados íntegramente en Aluminio Compuesto de máxima calidad inalterable",
            icon: `../img/assets/icoList.png`},
            {name: "Elimina el 99.9% de virus y bacterias.",
            icon: `../img/assets/icoList.png`},
            {name: "Aptos para uso de desinfectantes aprobados y certificados por ANMAT.",
            icon: `../img/assets/icoList.png`},
            {name: "Nuestros modelos no requieren instalación de agua, son compactos y fácilmente trasladables.",
            icon: `../img/assets/icoList.png`},
            ],
        tercero:[
            {name: "Ácido Hipocloroso al 0.05%",
            icon: `fas fa-circle`},
            {name: "Hipoclorito de Sodio al 0.05%",
            icon: `fas fa-circle`},
            {name: "Amonio Cuaternario al 0.01%",
            icon: `fas fa-circle`},
            {name: "Cloruro de Benzalconio al 1%",
            icon: `fas fa-circle`}
            ],
        totem:[
            {name: "3 micro aspersores nebulizadores",
            icon: `fas fa-circle`},
            {name: "Tanque integrado de 10lt de capacidad. (equivalente a 200 accionamientos)",
            icon: `fas fa-circle`},
            {name: "Sensor de movimiento y activación automática.",
            icon: `fas fa-circle`},
            {name: "Bomba periférica de alta calidad",
            icon: `fas fa-circle`},
            {name: "Instalación eléctrica con llave termo-magnética. ",
            icon: `fas fa-circle`},
            {name: "Protocolo de acceso de 3 pasos. ",
            icon: `fas fa-circle`},
            ],
        portico:[
            {name: "6 micro aspersores nebulizadores.",
            icon: `fas fa-circle`},
            {name: "Tanque integrado de 10 lt de capacidad. (equivalente a 100 accionamientos)",
            icon: `fas fa-circle`},
            {name: "Alfombra antideslizante y sanitizante",
            icon: `fas fa-circle`},
            {name: "Sensor de movimiento y activación automática",
            icon: `fas fa-circle`},
            {name: "Bomba periférica de alta calidad.",
            icon: `fas fa-circle`},
            {name: "Instalación eléctrica con llave termo magnética.",
            icon: `fas fa-circle`},
            {name: "Protocolo de acceso de 3 pasos.",
            icon: `fas fa-circle`},
            ],
        cabina:[
            {name: "6 micro aspersores nebulizadores.",
            icon: `fas fa-circle`},
            {name: "Tanque integrado de 50 o 100lt de capacidad. (equivalente a 900 accionamientos)",
            icon: `fas fa-circle`},
            {name: "Alfombra antideslizante y sanitizante.",
            icon: `fas fa-circle`},
            {name: "Sensor de movimiento y activación automática.",
            icon: `fas fa-circle`},
            {name: "Bomba periférica de alta calidad.",
            icon: `fas fa-circle`},
            {name: "Instalación eléctrica con llave termo magnética.",
            icon: `fas fa-circle`},
            {name: "Indicadores de ingreso y egreso",
            icon: `fas fa-circle`},
            {name: "Iluminación Led interior",
            icon: `fas fa-circle`},
            {name: "Protocolo de acceso de 3 pasos",
            icon: `fas fa-circle`},
        ],
        
    };

- 
    let contenidoModal = {
        totem:[
            {
            tittle: "TOTEM PEC 314",
            text: "Módulo Sanitizante - Uso Interior y Exterior",
            caracteristicas: listados.totem,
            img: `../img/assets/ejemplos/ejemploTotemSilueta.jpg`,
            }
            ],
        portico:[
            {
            tittle: "PÓRTICO PEC 316",
            text: "Módulo Sanitizante - Uso Interior y Exterior",
            caracteristicas: listados.portico,
            img: `../img/assets/ejemplos/ejemploPortico.jpg`,
            }
            ],
        cabina:[
            {
            tittle: "CABINA PEC 318",
            text: "Módulo Sanitizante - Uso Interior y Exterior",
            caracteristicas: listados.cabina,
            img: `ejemploCabina.jpg`,
            }
            ],
    }